#t-board {
    flex: 0 0 auto;
    margin: 20px 18.5px;
    margin-top: 0px;
    border-radius: 0%;
    height: 180px;
    width: 180px;
}

#task-list {
    width: 100%;
    text-align: center;
    font-size: 10px;
    border-right:none;
    border-left: none;
}

#task{
    text-align: left;
    cursor: pointer;
    border-radius: 0px;
    word-wrap: normal;    

  }

  #new-task{
    text-align: left;
    cursor: pointer;
    border-radius: 0px 0px 0px 0px;
    word-wrap: normal;    
   
  }
  #select-btn-div{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;

  }
  #add-to-tb-btn{
    position: relative;
    background-color: #DDDDDE; 
    border-radius: 0%;
    padding: 5px; 
    width: 30%;
    height: 10%;
    left: 3%;
  }

  #select-tb{
    width: 70%;
    left: 3%;
    border-radius: 0%;
  }

  #complete-task{
    position: relative;
    background-color: #DDDDDE; 
    border-radius: 0%;
    padding: 5px; 
    width: 50%;
    height: 15%;
    left: 20%;
  }

  #new-task-form{
    width:100%;
    height: 100%;
  }
  #new-task-imput{
    width:100%;
    height: 100%;
    border-color: transparent;
    border-bottom-color: grey;
  }

  #li-new-task{
    width:100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
  }
