html, body {
  height: 100%;
}

.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.sign-in {
  height: -webkit-fill-available;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 45% 45%;
  grid-gap: 5%;
  grid-template-areas: 
  "banner"
  "sign-in-form";
}
.sign-in-form {
  
  grid-area: "sign-in-form"
}

.sign-in-banner {
  padding-top: 18%;
  background-color: #DADADF;
  grid-area: "banner"
}

#username {
  width: 100%;
  border-radius: 10px;
  padding: 5px; 
  width: 200px;
  height: 6%; 

}

.button {
  border-radius: 10px;
  padding: 5px; 
  width: 100px;
  height: 6%; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
